* /*
	margin: 0;
	padding: 0;
}*/

body {

  background-color: white;
  font: 20px/1.5 sans-serif;
  margin: 20px;

}
footer {
	
	text-align: center;
  	width: 70%;
 	height: 50px;
  	border-top: 1px solid #AAAAAA;
  	font: 14px sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: ;
	justify-content: space-around;
	flex-flow: row wrap;
}

.flex li{
	width:25%;
	margin-bottom: 30px;
}

.flex li img{
	max-width: 100%;
}

.content {
  width: 85%;
  margin: 0 auto;
 
}
.welcome {
	float: right;

}
.icons {
	
	height: 60%;
	width: 80%;

}


.fix-me {
	max-width: 300px;
	max-height: 300px;
}



}